:root {
    --darkgrey: #555;
    --middlegrey: #bbb;
    --grey: #ddd;
    --red: rgb(251, 110, 83);
    --blue: #0000ff;
    --light: #eee;
    --white: #fff;
    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-size: 12px;
    font-weight: 600;
}

.container {
    width: 420px;
    background-color: var(--red);
    margin: 0 auto;
    padding-bottom: 30px;
}

h1 {
    color: var(--light);
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 6px;
    padding-bottom: 0;
    color: var(--white);
}

.inner {
    background-color: var(--light);
    width: 78%;
    margin: 0 auto;
    padding: 30px 15px 20px;
    border-radius: 3px;
}

.date {
    font-size: 1.1rem;
    color: var(--red);
}

.tasks {
}

.pending, .completed_percent, .commands button {
    font-size: 1rem;
    color: var(--darkgrey);
}

.commands, .no-todos {
    width: 60%;
    position: relative;
    margin: 0 auto;
}

.commands button {
    font-family: var(--font);
    font-size: .95rem;
    font-weight: 800;
    padding: 15px 12px 0;
    border: hidden;
    background-color: var(--light);
}

.instruction-div {
    display: flex;
    justify-content: space-between;
}

.instruction-div input {
    width: 85%;
    padding: 4px;
    font-style: italic;
}

.instruction-div button {
    height: 28px;
    width: 28px;
    margin-left: 4px;
    border: none;
    border-radius: 3px;
    background-color: var(--middlegrey);
    color: var(--white);
}

.instruction-div button:hover {
    background-color: var(--blue);
}

#instruction {
    border: 1px solid var(--grey);
    border-radius: 3px;
}

.todo, .completed {
    display: block;
    width: 80%;
    height: 18px;
    padding: 4px 80% 4px 10%;
    background-color: var(--darkgrey);
    border-radius: 3px;
}

.no-todos {
    font-size: .9rem;
    color: var(--darkgrey);
}

.hidden {
    display: none;
}

.no-todos img {
    width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background-color: var(--grey);
    margin-bottom: 8px;
    border-radius: 3px;
}

li input {
    display: inline-block;
    /* margin: 8px auto 8px 8px; */
    margin: 8px;
    padding: 8px;
    border: 1px solid var(--grey);
}

li p {
    display: inline-block;
    position: relative;
    top: -3px;
    margin: 0;
    width: 80.8%;
    font-size: .9rem;
    color: var(--darkgrey);
}

/* li i::before { */
.todo-list i::before {
    position: relative;
    top: -3px;
    margin: 0;
    padding: 8px 11px 9px;
    background-color: var(--red);
    font-size: .7rem;
    border-radius: 0 3px 3px 0;
    color: var(--white);
}

#instruction i {
    position: relative;
    margin: 0;
    padding: 8px 11px 9px;
    background-color: var(--red);
    font-size: .7rem;
    border-radius: 0 3px 3px 0;
    color: var(--white);
}

#instruction i::before {
    color: var(--white);
}

.completeds li {
    background-color: var(--white);
}

.completeds p {
text-decoration: line-through;
color: var(--middlegrey );
}

.completed-check {
    display: none;
} 

.completed-list {
    width: 100%;
    height: 28px;
}

.completed-list i:before {
    padding: 0;
    color: var(--red);
    position: relative;
    top: 6px;
    width: 36px;

        /* position: relative;
    top: -3px;
    margin: 0;
    padding: 8px 11px 9px;
    background-color: var(--red);
    font-size: .7rem;
    border-radius: 0 3px 3px 0;
    color: var(--white); */

}