:root {
    --darkgrey: #555;
    --middlegrey: #bbb;
    --grey: #ddd;
    --red: rgb(251, 110, 83);
    --blue: #0000ff;
    --light: #eee;
    --white: #fff;
    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-size: 12px;
    font-weight: 600;
}

.container {
    width: 420px;
    background-color: var(--red);
    margin: 0 auto;
    padding-bottom: 30px;
}

h1 {
    color: var(--light);
    text-align: center;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 6px;
    padding-bottom: 0;
    color: var(--white);
}

.inner {
    display: block;
    background-color: var(--light);
    width: 78%;
    height: auto;
    margin: 0 auto;
    padding: 30px 15px 20px;
    border-radius: 3px;
}

.date {
    font-size: 1.1rem;
    color: var(--red);
}

.tasks {
    display: block;
}

.pending_items, .completed_percent, .commands button {
    font-size: 1rem;
    color: var(--darkgrey);
}

section {
    display: block;
}

.commands, .no-todos {
    /* width: 60%; */
    width: 62%;
    /* position: relative; */
    margin: 0 auto;
}

.commands button {
    font-family: var(--font);
    font-size: .95rem;
    font-weight: 800;
    padding: 15px 12px 0;
    border: hidden;
    background-color: var(--light);
}

.instruction-div {
    display: flex;
    justify-content: space-between;
}

.instruction-div input {
    width: 85%;
    padding: 4px;
    font-style: italic;
}

.instruction-div button {
    height: 28px;
    width: 28px;
    margin-left: 4px;
    border: none;
    border-radius: 3px;
    background-color: var(--middlegrey);
    color: var(--white);
}

.instruction-div button:hover {
    background-color: var(--blue);
}

#instruction {
    border: 1px solid var(--grey);
    border-radius: 3px;
}

/* .todo, .completed {
    display: block;
    width: 80%;
    height: 18px;
    padding: 4px 80% 4px 10%;
    background-color: var(--darkgrey);
    border-radius: 3px;
} */

.no-todos {
    font-size: .9rem;
    color: var(--darkgrey);
}

.hidden {
    display: none;
}

.no-todos img {
    width: 100%;
}

.todos {
    display: block;
    width: 100%;
    padding: 0;
}

.todo {
    list-style: none;
    width: 100%;
    height: 30px;
    padding: 0px;
    /* display: inline-block; */
    display: block;
}

.pending .todo {
    /* list-style: none; */
    background-color: var(--grey);
    margin-bottom: 8px;
    border-radius: 3px;
}

.completed .todo {
    /* list-style: none; */
    background-color: var(--white);
    margin-bottom: 8px;
    border-radius: 3px;
}

.pending .checkbox {
    display: inline-block;
    margin: 8px 2px 8px 8px;
    padding: 8px 0 8px;
    border: 1px solid var(--grey);
}

.completed .checkbox {
    display: none;
    margin: 8px 2px 8px 8px;
    padding: 8px 0 8px;
    border: 1px solid var(--grey);
}

.pending p {
    display: inline-block;
    position: relative;
    top: -3px;
    margin: 0;
    width: 81%;
    font-size: .9rem;
    font-weight: 400;
    color: var(--darkgrey);
}

.completed p {
    display: inline-block;
    position: relative;
    top: 4px;
    margin: 0;
    width: 81%;
    font-size: .9rem;
    font-weight: 500;
    text-decoration: line-through;
    color: var(--middlegrey);
}

.pending .todo .fa-check::before {
    display: none;
}

.completed .todo .fa-check::before {
    position: relative;
    top: 5px;
    margin: 8px;
    padding: 2px;
    background-color: var(--white);
    font-size: .7rem;
    border: 1px solid var(--grey);
    border-radius: 0 3px 3px 0;
    color: var(--red);
}

.pending .todo .fa-trash::before {
    /* display: inline-block; */
    position: relative;
    top: -2px;
    margin: 0;
    padding: 9px 11px 9px;
    background-color: var(--red);
    font-size: .7rem;
    border-radius: 0 3px 3px 0;
    color: var(--white);
    cursor: pointer;
}

.pending .todo .fa-trash.hidden::before {
    display: none;
}

.completed .todo .fa-trash::before {
    display: none;
}

.endOfChain {
    display: none;
}